/* Place custom CSS styling for missionsafety widget at runtime in this file */

.widget-missionsafety {
  width: 100%;
  height: 100%;
}

/*
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#container {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
}
header span {
  margin-left: 10px;
  margin-right: 10px;
}
*/

.widget-content.widget-missionsafety .title {
  width: 54px;
  height: 54px;
}

.widget-content.widget-missionsafety .title img {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.widget-content.widget-missionsafety .container {
  width: 100%;
  height: 100%;
}

/*
    .center image {
      transform: translate(-25px, -25px) rotate(0deg);
      transform-origin: center;
      transform-box: fill-box;
    }
    */

.widget-content.widget-missionsafety .moving image {
  transform: translate(-10px, -30px) rotate(0deg);
  transform-origin: center;
  transform-box: fill-box;
}

.widget-content.widget-missionsafety .arrow_legends div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 50px;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
}

.widget-content.widget-missionsafety .arrow_legends .wave {
  background: url("images/arrow_blue.png");
}

.widget-content.widget-missionsafety .arrow_legends .current {
  background-image: url("images/arrow_green.png");
}
.widget-content.widget-missionsafety .arrow_legends .wind {
  background-image: url("images/arrow_orange.png");
}

.widget-content.widget-missionsafety .arrow_scatter image {
  transform-origin: center;
  transform-box: fill-box;
}

.widget-content.widget-missionsafety .arrow_scatter text {
  transform-origin: center;
  transform-box: fill-box;
}

/*
    .arrow_blue image {
      transform: translate(-30px, -25px) rotate(220deg);
      transform-origin: center;
      transform-box: fill-box;
    }
    
    .arrow_blue text {
      transform: rotate(310deg);
      transform-origin: center;
      transform-box: fill-box;
    }
    */

.widget-content.widget-missionsafety .highcharts-subtitle {
  padding-top: 20px;
}

.widget-content.widget-missionsafety .currentSituation {
  text-align: center;
}

.widget-content.widget-missionsafety .currentSituation .label {
  font-size: 14px;
}

.widget-content.widget-missionsafety .currentSituation .value {
  font-size: 64px;
}

.widget-content.widget-missionsafety .currentSituation .value.wave {
  color: brown;
}

.widget-content.widget-missionsafety .currentSituation .value.current {
  color: coral;
}

.widget-content.widget-missionsafety .currentSituation .value.wind {
  color: green;
}
